html,
body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

.navbar {
	margin: 0;
}

.navbar > .container .navbar-brand {
	padding: 0;
	margin-left: 15px;
}

.jumbotron {
	padding: 0;
}

main {
	padding: 40px 0;
}

.imageLink {
	.imageLink-text {
		margin-top: 0.5rem;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 300;
	}
}

.tinySection {
	.tinySection-header {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: 700;
	}
	.tinySection-content {

	}
}

.license {
	font-size: 0.8rem;
}

footer {
	background-color: hsl(0, 0%, 93%);
	hr {
		border-color: hsl(0, 0%, 70%);
	}
	.social-button {
	}
}
